<!DOCTYPE html>
<html>
<head>
  <title>自己的股票自己選</title>
  <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>-->
  <meta charset='utf-8'>
  <meta content='description' name='stock search'/>
  <meta name='viewport' content='width=device-width; initial-scale=1'/>
  <link href='/view-source/css/bootstrap.min.css' rel='stylesheet'/>
  <link href='/view-source/css/bootstrap-theme.css' rel='stylesheet'/>
  <link rel='shortcut icon' href='/view-source/source/favicon.ico'/>
  <script src='/view-source/js/jquery.js'></script>
  <script src='/view-source/js/bootstrap.min.js'></script>

</head>
<body>

<%= yield %>

</body>
</html>
