<% if @checking == 1 %>
  <p class="showing" id='success'>
    您已經成功登入
  </p>
<% elsif @checking == 0 %>
  <p class='showing' id='fail'>
    登入失敗
  </p>
<% elsif @checking == 2 %>
  <p class='showing' id='warning'>
    您的帳號不存在
  </p>
<% else %>
  <p class='showing' id='already'>
    您已經登入
  </p>
<% end %>