<div class='sign-in-box'>
  <%= form_tag "/sign" , :class => "input form-horizontal" , :role => "form" do  %>
    <label class="control-label col-lg-4">帳號：</label>
    <div class='col-lg-5'>
      <input type="account" class="form-control" id="inputAccount" placeholder="Account">
    </div>
    <br><br>
    <label class="control-label col-lg-4">密碼：</label>
    <div class='col-lg-5'>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div><br><br><br>
    <button class='btn btn-primary btns' role='submit'>確認</button>
    <buttton class='btn btn-danger ' role='button'>註冊</buttton>
  <% end %>
</div>