<div class='sign-in-box'>
  <%= form_tag "/sign/checker" , :class => "input form-horizontal" , :role => "form" , :method => 'post' do  %>
    <label class="control-label col-lg-4">帳號：</label>
    <div class='col-lg-5'>
      <input type="account" class="form-control" id="inputAccount" placeholder="Account" name='account'>
    </div>
    <br><br>
    <label class="control-label col-lg-4">密碼：</label>
    <div class='col-lg-5'>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name='pwd'>
    </div><br><br><br>
    <button class='btn btn-primary btns' type='submit'>確認</button>
  <% end %>
</div>