
#home-title {
  margin-top:2em;
  text-align: center;
  color:black;
}

.add-stock {
  width:30%;
  font-size:50px;
  margin-top:10px;
}

.add-stock:hover{
  text-decoration: none;
}

.searching-box {
  display:none;
  width: 40%;
  background: white;
  border-radius:10px;
  margin:0 auto;
  height:150px;
  padding-top:25px;
}

#add-submit {
  display: block;
  margin:0 auto;
}

#add-input {
  width: 40%;
  margin: 10px auto;

}

.show-my-stock {
  margin-top:10px;
  width:50%;
}
