
#home-title {
  margin-top:2em;
  text-align: center;
  color:black;
}

.add-stock {
  width:30%;
  font-size:50px;
  margin-top:10px;
}
.template {
  display: none;
}
.add-stock:hover{
  text-decoration: none;
}
