#main-image{
  height:300px;
  width:450px;
  border-radius: 20px;
  margin-left:100pt;
  margin-top:50pt;
}
#superbig-title{
  font-size:120px;
  text-align:center;
  margin-top:50px;
}
.news-block{
  margin: 3em auto;
  width:80%;

}
.news{
  background:white;
  border-radius:10px;
  height:300px;
  width:23%;
  padding:0 20px;
  margin:0 10px;
  float:left;

}
.news h2{
  text-align: center;
}
