html{
  font-family:'Microsoft YaHei' , 'Ubuntu' , '文泉驛微米黑','黑體-繁';
}
.navbar-collapse .navbar-text:last-child{
  margin-right: 20px;
}
.navbar:before{
  display: none;
}
#the-nav{
  position:absolute;
  top:0;
  left:0;
  right:0;
  border-radius: 0;
}
.well{
  border:0;
}
footer{
  background:#101010;
  height:300px;
  width:80%;
  margin: 200px auto 0 auto;
  border-radius:20px;
}
.footer-title{
  background:#afafaf;
  height:50px;
  color:white;
}
.footer-title h2{
  font-family: 'Ubuntu','Arial,sans-serif';
  font-weight: bold;
  text-indent:2em;
  padding-top:5px;
}
.footer-content{
  color:white;
}
footer li{
  color:white;
}
#the-left{
  margin-left:15%;
}
