.search-title{
  margin-top: 100px;
  text-align:center;
  font-size:30px;
}
#item-notfound{
  text-align: center;
  font-size:25px;
}
.box{
  width:80%;
  margin:0 auto;
  background:white;
  border-radius:10px;
  text-align:center;
  font-size:25px;
  padding: 10px 0;
  line-height: 1.5;
  list-style: none;
}

