<h2 id='home-title'><%= current_user.email %> 的股票庫 </h2>
<hr style='width:80%;border:solid 5px;border-radius:5px'>
<ul class='selection'>
<% if !@user_item.empty? %>
  <% @user_item.each do |u| %>
    <li class='box'>
      <h3><%= u.name %></h3><hr>
      <p><%= u.close %></p>
    </li>
  <% end %>
<% else %>
<h3 style='text-align:center'>目前還沒有我的股票</h3>
  <a href='#' class='template'><li class='box add-stock' >+</li></a>
</ul>
<% end %>

