<h2 id='home-title'><%= current_user.email %> 的股票庫 </h2>
<hr style='width:80%;border:solid 5px;border-radius:5px'>
<% if !@user_item.nil? %> <!-- 這邊之後要改成 empty? 先測試後面的東西 -->
  <% @user_item.each do |u| %>
    <div class='box'>
      <h3><%= u.name %></h3><hr>
      <p><%= u.close %></p>
    </div>
  <% end %>
<% end %>
<a href='#' id='adding'><div class='box add-stock' >+</div></a>
